@use "./utils" as *;

:root {
  --cl-primary: rgb(56, 41, 224);
  --cl-primary-transparent: rgb(56, 41, 224, 0.5);
  --cl-primary-tint: #e0e8ff;
  --cl-neutral-transparent: rgb(114, 128, 167, 0.1);

  --cl-neutral: rgb(114, 128, 167);
  --cl-neutral-transparent: rgb(114, 128, 167, 0.07);
  --cl-neutral-tint: #f5f7ff;
  --cl-neutral-shade: #1f2f56;

  --fs-normal: #{toRem(16px)};
  --fs-title: #{toRem(30px)};
  --fs-subtitle: #{toRem(16px)};

  --fw-normal: 500;
  --fw-bold: 700;
  --fw-bolder: 900;

  --font-family: "Red Hat Display";
}
