:root {
  --cl-primary: rgb(56, 41, 224);
  --cl-primary-transparent: rgb(56, 41, 224, 0.5);
  --cl-primary-tint: #e0e8ff;
  --cl-neutral-transparent: rgb(114, 128, 167, 0.1);
  --cl-neutral: rgb(114, 128, 167);
  --cl-neutral-transparent: rgb(114, 128, 167, 0.07);
  --cl-neutral-tint: #f5f7ff;
  --cl-neutral-shade: #1f2f56;
  --fs-normal: 1rem;
  --fs-title: 1.875rem;
  --fs-subtitle: 1rem;
  --fw-normal: 500;
  --fw-bold: 700;
  --fw-bolder: 900;
  --font-family: "Red Hat Display";
}

/* Typography Scale */
/*  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* ******************** */
/* Spaces */
/* ******************** */
/* 
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cl-primary-tint);
  font-family: var(--font-family), sans-serif;
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  min-height: 100vh;
}

.container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order {
  max-width: 28.125rem;
  min-width: 11.25rem;
  background-color: var(--cl-neutral-tint);
  overflow: hidden;
  border-radius: 20px;
}

.order-img {
  display: inline-block;
  width: 100%;
}

.order-info {
  padding: 3rem;
  text-align: center;
}

.title {
  font-size: var(--fs-title);
  font-weight: var(--fw-bolder);
  color: var(--cl-neutral-shade);
  margin-bottom: 1.5rem;
}

.text {
  color: var(--cl-neutral);
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.plan-box {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  padding: 1.5rem;
  background-color: var(--cl-neutral-transparent);
}

.plan-info {
  color: var(--cl-neutral);
  text-align: start;
  margin-left: 1.5rem;
}

.plan-title {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-bolder);
  color: var(--cl-neutral-shade);
  margin-bottom: 0.25rem;
}

.plan-change {
  margin-left: auto;
}

.plan-action:visited,
.plan-action:link {
  color: var(--cl-primary);
}

.plan-action:hover,
.plan-action:active {
  color: var(--cl-primary-transparent);
  text-decoration: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-bold);
}

.btn-payment {
  margin-bottom: 0.75rem;
  background-color: var(--cl-primary);
  color: var(--cl-neutral-tint);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.btn-payment:hover {
  background-color: var(--cl-primary-transparent);
}

.btn-cancel {
  background: transparent;
  color: var(--cl-neutral);
}

.btn-cancel:hover {
  color: var(--cl-neutral-shade);
}

@media (max-width: 28.75rem) {
  .order-info {
    padding: 2rem;
  }
  .plan-info {
    margin-left: 0.75rem;
  }
}
@media (max-width: 23.75rem) {
  .plan-box {
    padding: 0.75rem;
  }
}
@media (max-width: 21.25rem) {
  :root {
    --fs-normal: 0.875rem;
    --fs-title: 1.5rem;
    --fs-subtitle: 0.875rem;
  }
  .plan-box {
    padding: 0.5rem;
  }
  .order-info {
    padding: 1rem;
  }
}
@media (max-width: 21.25rem) and (max-width: 17.5rem) {
  .plan-box {
    flex-direction: column;
    gap: 0.75rem;
  }
  .plan-info {
    margin: 0;
  }
  .plan-change {
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */